@charset "utf-8";


@media only screen and (max-width: 1280px)
{
    .header
    {
        width: 90%;
    }
    .header_content
    {
        width: 100%;
    }
    .header_side
    {
        display: none !important;
    }
    .main_nav_container
    {
        padding-right: 53px;
    }
    .hero_slide_content h1
    {
        font-size: 56px;
    }
    .card-title
    {
        font-size: 20px;
    }
    .register_content,
    .search_content
    {
        width: 442px;
    }
}


@media only screen and (max-width: 1199px)
{
    .hero_box
    {
        padding-left: 20px;
    }
}



@media only screen and (max-width: 1100px)
{

}



@media only screen and (max-width: 360px)
{
    .main_nav_item
    {
        margin-right: 33px;
    }
}

@media only screen and (max-width: 455px)
{
    .main_nav_container
    {
        display: none;
    }
    .logo_container
    {
        padding-left: 30px;
    }
    .hamburger_container
    {
        display: block;
    }
    .hero_slide_content h1
    {
        font-size: 48px;
    }
    .hero_boxes
    {
        width: 100%;
        height: auto;
        padding-top: 11px;
    }
    .hero_boxes_inner
    {
        position: relative;

        left: auto;
        top: -600px;
    }
    .hero_box
    {
        padding-left: 50px;
        padding-top: 11px;
    }
    .hero_box_col
    {
        margin-bottom: 30px;
    }
@media only screen and (max-width: 447px)
{
    .header
    {
        height: 60px;
        top: 15px;
    }
    .hero_slide_content h1
    {
        font-size: 28px;
    }
    .hero_slide_content h1 span
    {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero_boxes
    {
        padding-top: 80px;
    }
    .hero_box
    {
        padding-left: 15px;
        height: 120px;
    }
    .hero_box_content
    {
        padding-top: 6px;
    }
    .hero_box img
    {
        width: 45px;
    }
    .hero_box_title
    {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .hero_box_link
    {
        font-size: 10px;
    }
}



@media only screen and (max-width: 400px)
{

}
}
